<div class="container py-5">
  <div class="row">
    <div class="col">
      <button class="btn btn-success btn-block" (click)="alertSuscses()">
        success
      </button>
    </div>
    <div class="col">
      <button class="btn btn-warning btn-block" (click)="alertWarnig()">
        warning
      </button>
    </div>
    <div class="col">
      <button class="btn btn-danger btn-block" (click)="alertError()">
        error
      </button>
    </div>
    <div class="col">
      <button class="btn btn-info btn-block" (click)="alertInfo()">info</button>
    </div>
    <div class="col">
      <button class="btn btn-primary btn-block" (click)="alertQuestion()">question</button>
    </div>
  </div>
</div>
